<!DOCTYPE html>
<html>
<h1>Add a Book to Your Library! </h1>
<form action="/new_book" method="POST">
   <p>Title: <input type="text" name="title"></p>
   <p>Author: <input type="text" name="author"></p>
   <p>Genre: <input type="text" name="genre"></p>
    <input type="submit" value="submit">

</form>


</html>